body {
    background-color: snow;
    /*background-color: #0099cc;*/
}

.see-punishment-btn {
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;

    background-color: #ff6666;
    color: white;
}

.meeting-item {
    margin: 15px auto 15px auto;
    padding: 10px;
    width: 90%;
    height: 90px;

    /*border: 1px solid black;*/
    background-color: white;
    box-shadow: 0 0 1px 1px lightgray;
}

.meeting-location {
    display: block;
}

.meeting-time {
    display: block;
}

