body {
    margin-top: 15px;
    margin-bottom: 15px;
    /*background-color: ghostwhite;*/
    background-color: snow;
}

.meeting-name {
    /*color: #0099cc;*/
    /*color: #ff6666;*/
}
.meeting-time {
    color: #cccccc;
}

.meeting-name {
    text-align: center;
}

.meeting-time {
    text-align: center;
}

.attended-members, .absent-members {
    padding: 14px;
}

.attended-user, .absent-user{
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 21%;
    height: 90px;

    float: left;
}

.attended-user-avatar, .absent-user-avatar {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;

    border-radius: 35px;

    overflow: hidden;
}

.attended-username, .absent-username {
    display: block;

    text-align: center;
    font-size: 13px;
    color: dimgray;
}

.attended-count {
    /*position: relative;*/
    /*top: 15px;*/

    display: block;

    clear: both;

    text-align: center;
    font-size: small;
    color: dimgray;
}

.attended-members-section {
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    /*background-color: rgba(255,255,255,0.8);*/
}

.absent-members-section {
    background-color: rgba(255,255,255,0.5);
    /*border: 1px solid #ff6600;*/
}

.punishment {
    padding: 14px;

    background-color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    color: #666;
}