.body {
    background-color: snow;
}

.QR-code-title {
    text-align: center;
}

.QR-code {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;

    overflow: hidden;
}

.meeting-info-section {
    margin-top: 30px;
    border: 1px solid lightgray;
}

.meeting-info {
    text-align: center;
    color: #888;
    font-size: 14px;
}