<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>制定惩罚</title>

    <link rel="stylesheet" href="../static/css/lib/weui.min.css"/>
    <link rel="stylesheet" href="../static/css/lib/weui.css"/>
    <link rel="stylesheet" href="../static/css/assign-punishment.css"/>
</head>

<body>

<a class="weui_btn weui_btn_default see-punishment-btn" href="/punishments_">先不绑定会议，我要看看有哪些惩罚XD</a>

<div id="ct">
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
    <!--<div class="meeting-item">-->
    <!--<h2 class="meeting-name">迷之会议</h2>-->
    <!--<span class="meeting-location">@2楼联盟</span>-->
    <!--<span class="meeting-time">12:00 - 13:00</span>-->
    <!--</div>-->
</div>

<script src="../static/js/lib/jquery-2.1.3.min.js"></script>
<script src="../static/js/assign-punishment.js"></script>

</body>
</html>
