<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>最近一小时内的会议</title>

    <link rel="stylesheet" href="../static/css/lib/weui.min.css"/>
    <link rel="stylesheet" href="../static/css/lib/weui.css"/>
    <link rel="stylesheet" href="../static/css/check-in-meetings.css"/>

</head>
<body>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>
<div class="meeting-item">
    <h2 class="meeting-name">迷之会议</h2>
    <span class="meeting-location">@2楼联盟</span>
    <span class="meeting-time">12:00 - 13:00</span>
</div>

<script src="../static/js/lib/jquery-2.1.3.min.js"></script>
<script src="../static/js/check-in-meetings.js"></script>

</body>
</html>