<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>迷之会议签到情况</title>

    <link rel="stylesheet" href="../static/css/lib/weui.min.css"/>
    <link rel="stylesheet" href="../static/css/lib/weui.css"/>
    <link rel="stylesheet" href="../static/css/check-in-members.css"/>


</head>
<body>

<h2 class="meeting-name"></h2>
<h4 class="meeting-time"></h4>

<div class="weui_panel attended-members-section">
    <span class="weui_panel_hd section-title">已经出现</span>
    <div class="weui_panel_bd attended-members">
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
        <!--<div class="attended-user">-->
        <!--<img class="attended-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="attended-username">测试人员</span>-->
        <!--</div>-->
    </div>
    <span class="attended-count"></span>
</div>


<div class="weui_panel absent-members-section">
    <span class="weui_panel_hd section-title">还没出现</span>
    <div class="weui_panel_bd absent-members">
        <!--<div class="absent-user">-->
        <!--<img class="absent-user-avatar" src="../static/resources/test.png">-->
        <!--<span class="absent-username">测试人员</span>-->
        <!--</div>-->
    </div>
</div>

<div class="weui_panel punishment-section">
    <span class="weui_panel_hd section-title">迟到惩罚</span>
    <div class="weui_panel_bd punishment">
        每迟到1分钟，交出10人民币！
    </div>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="../static/js/lib/jquery-2.1.3.min.js"></script>
<script src="../static/js/check-in-members.js"></script>

</body>
</html>
