<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>惩罚库</title>

    <link rel="stylesheet" href="../static/css/lib/weui.min.css"/>
    <link rel="stylesheet" href="../static/css/lib/weui.css"/>
    <link rel="stylesheet" href="../static/css/punishments.css"/>
</head>


<body>

<div class="punishment-item ptype1">
    <span class="punishment-rule">每迟到<span class="punishment-minute">1</span>分钟，交出<span
            class="punishment-amount">0.1</span>人民币！</span>
</div>

<div class="punishment-item ptype2">
    <span class="punishment-rule">每迟到<span class="punishment-minute">1</span>分钟，<span
            class="punishment-count">10</span>个<span class="punishment-way">俯卧撑</span>！</span>
</div>

<div class="punishment-item ptype0">
    <span class="punishment-rule">如果迟到，就要<span class="punishment-description">给大家跳小苹果</span></span>
</div>

<a class="weui_btn weui_btn_default add-punishment-btn">我有好点子XD</a>

<script src="../static/js/lib/jquery-2.1.3.min.js"></script>
<script src="../static/js/assign-punishment.js"></script>
</body>
</html>