<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>扫一扫签到</title>

    <link rel="stylesheet" href="../static/css/show-QR-code.css"/>

</head>
<body>
<h3 class="QR-code-title">↓ 请大力扫我！↓</h3>
<img class="QR-code">

<div class="meeting-info-section">
    <!--<p class="meeting-info">迷之会议</p>-->
    <!--<p class="meeting-info">@2楼联盟</p>-->
    <!--<p class="meeting-info">2016-07-14 17:00</p>-->
</div>


<script src="../static/js/lib/jquery-2.1.3.min.js"></script>
<script src="../static/js/show-QR-code.js"></script>
</body>
</html>